/*################ Theme Header With shrink Effect Start #####################*/
#mt-header[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="relative"] {
  margin-left: 230px;
   padding-right: 0;
}
#mt-header[data-mt-lpanel-effect="shrink"].mt-minimized-lpanel .mt-right-header[data-mt-position-type="relative"] {
  margin-left: 50px;
  padding-right: 0;
}
#mt-header[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="fixed"] {
	padding-right: 230px;
	margin-left: 230px;
}
#mt-header[data-mt-lpanel-effect="shrink"].mt-minimized-lpanel .mt-right-header[data-mt-position-type="fixed"] {
padding-right: 50px;
	margin-left: 50px;
}
#mt-header[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="relative"] .mt-sidebar-toggle a:after {
    margin-left: 0px;
}
#mt-header.mt-minimized-lpanel[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="relative"] .mt-sidebar-toggle a:after {
    margin-left: 0px;
}
#mt-header[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="fixed"] .mt-sidebar-toggle a:after {
    left: 0px;
}
#mt-header.mt-minimized-lpanel[data-mt-lpanel-effect="shrink"] .mt-right-header[data-mt-position-type="fixed"] .mt-sidebar-toggle a:after {
    left: 0px;
}

#mtapp-container[data-mt-lpanel-effect="shrink"] #main-content{
	margin-left: 230px;
}
#mtapp-container[data-mt-lpanel-effect="shrink"].mt-minimized-lpanel #main-content{
	margin-left: 50px;
}
/*################ Theme Header With shrink Effect Close #####################*/