/*################ Theme Header With Content Overlay Effect Start #####################*/
#mt-header[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="fixed"] {
  margin-left:  0px;
  padding-right: 0px;
}
#mt-header[data-mt-lpanel-effect="overlay"].mt-minimized-lpanel .mt-right-header[data-mt-position-type="fixed"] {
    margin-left:  50px;
    padding-right: 50px;
}
#mt-header[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="relative"] {
  margin-left: 0px;
}
#mt-header.mt-minimized-lpanel[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="relative"] {
  margin-left: 50px;   
}
#mt-header[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="relative"] .mt-sidebar-toggle a:after {
    margin-left:  230px;
	
}
#mt-header.mt-minimized-lpanel[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="relative"] .mt-sidebar-toggle a:after {
     margin-left: 0px;
}
#mt-header[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="fixed"] .mt-sidebar-toggle a:after {
  margin-left:  230px;
}
#mt-header.mt-minimized-lpanel[data-mt-lpanel-effect="overlay"] .mt-right-header[data-mt-position-type="fixed"] .mt-sidebar-toggle a:after {
    margin-left:  0px; 
}


#mtapp-container[data-mt-lpanel-effect="overlay"] #main-content{
	 margin-left: 50px;
}
#mtapp-container[data-mt-lpanel-effect="overlay"].mt-minimized-lpanel #main-content{
	 margin-left: 50px;
}
/*################ Theme Header With Content Overlay Effect Close #####################*/