@CHARSET "EUC-KR";
p{ margin:0 auto; }
span{
	font-size:18px;
}
/* margin top */
.margin_t5{	margin-top:5px;}
.margin_t10{ margin-top:10px;}
.margin_t15{ margin-top:15px;}
.margin_t20{ margin-top:20px;}

/* margin bottom */
.margin_b5{	margin-bottom:5px;}
.margin_b10{ margin-bottom:10px;}
.margin_b15{ margin-bottom:15px;}
.margin_b20{ margin-bottom:20px;}

/* margin left */
.margin_l5{	margin-left:5px;}
.margin_l10{	margin-left:10px;}
.margin_l15{ margin-left:15px;}
.margin_l20{ margin-left:20px;}

/* margin right */
.margin_r5{	margin-right:5px;}
.margin_r10{ margin-right:10px;}
.margin_r15{ margin-right:15px;}
.margin_r20{ margin-right:20px;}

/*text align*/
.textalgin_l{text-algin:left}
.textalgin_c{text-algin:center}
.textalgin_r{text-algin:right}

/*h1 ~ h6*/
/*
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
*/
/**/


body{
	float:left;
	margin:0 auto;
	width:100%;
}
/*list_box*/
.list_box{
	width:586px;
	height:150px;
	vertical-align: middle;
	margin: auto;
	margin-top:35px;
}
/*main_btn*/
.main_btn{
	border:none;
	width:150px;
	height:40px;
	background:#ee2e24;
	border-radius: 3px;
	color:#fff;
}
.cash_title_border{
	border:1px blue solid;
	width:100%;
	height:30px;
	text-align:center;
	background-color:#616161;
}
.cash_title_af{
	border:none;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	width:1200px;
	height:300px;
	text-align:center;
	float:left;
}
.cash_today_list{
	border:1px #ccc solid;
	float:left;
}
.cash_today_list th{
	height:40px;	
    vertical-align: middle;
}
.cash_today_list tr td{;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	height:35px;
	line-height: 35px;
}
.cash_today_list_td{
	width:140px;
	text-align:left;
	text-indent: 16px;
	font-size:14px;
	color:#6c6c6;
}
.cash_today_list_td span{
	color:#ee2e24;
}
.cash_today_list_td2 span{
	color:#ee2e24;
}
.cash_today_list_td2{
	width:140px;
	text-indent: 16px;
	text-align:left;
	font-size:14px;
}		
/*걀제완료 충전내역*/
.point_have_list{
	float:left;
	border:1px #ccc solid;
}
.point_have_list th{
	height: 40px;
	vertical-align: middle;
}
.point_have_list tr td{
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	height:35px;
	line-height: 35px;
}
.point_have_list_td{
	width:140px;
	text-align:left;
	text-indent: 16px;
	font-size:14px;
	color:#6c6c6;
}
.point_have_list_td2{
	width:140px;
	text-align:left;
	text-indent: 16px;
	font-size:14px;
	color:#6c6c6;
}


.cash_title_af p { font-size:18px;	color: #333; margin : auto; margin-top:190px;}
.cash_title1{ font-size:32px; color:#ee2e24;}
.cash_title2{ font-size:18px; color:#6c6c6c;}
.td_title{text-align:center; width:auto;}
.cash_table{ border-collapse:collapse; width:1100px; border:none;}

.cash_history{ border-collapse:collapse; border:none; width:1100px; }
.table_header{
	background:#f8f8f8;
 	color:#222; 
 	font-weight:nomal; 
 	border-top:1px black solid;	
 	border-bottom:1px #ddd solid;
 	line-height:1.3;
 	font-size:14px;
 	text-align:center;
 	height:55px;
 }
 .table_header p, .table_content p{
 	vertical-align: middle;
 	line-height: 20px;
 	margin: 17px auto;
 }
 .table_content{
 	color:#555; 
 	font-weight:nomal; 
 	border-bottom:1px #ddd solid;
 	line-height:1.3;
 	font-size:14px;
 	text-align:center;
 	height:55px
 }
 .cashbox{width:550px; height:160px; }
 .cashbox_selectbox{float:left;}
 .cashbox_content{
 	width:550px;
 	height:40px;
 	border:1px blue solid;
 	float:left;
 }
 .cash_title{color:#ffffff;}
 .cash_cehck{
 	width:95%;
 	height:25px;
 	margin:0 auto;
 	font-size:14px;
 }

  .cash_Price_box_0{
  	border:none;
 	border-top:2px #ccc solid;
 	width:145px;
 	height:80px;
 	float:left;
 }
 .cash_Price_box_1{
 	border:1px #ccc solid;
 	width:16%;
 	height:80px;
 	float:left;
 	text-align:center;
 }
   .cash_Price_box_1:hover{
 	border:2px red solid;
 	width:16%px;
 	height:80px;
 	float:left;
 	font-weight:bold;
 	color:red;
 	cursor: pointer;
 	color: #ee2e24;
 }
  .cash_Price_box_2{
  	border:none;
 	border-top:1px #ccc solid;
 	border-bottom:1px #ccc solid;
 	width:80%;
 	height:80px;
 	float:left;
 	text-align:left;
 }
 	
 .cash_Price_box_0 p{
 	color:#808080;
 	text-align:left;
 	margin-top: 4px;
  }
  .cash_Price_box_1 p{
 	vertical-align:middle;
 	color: #ee2e24;
 	text-align: center;
  }
   .cash_Price_box_2 p{
 	color: #ee2e24;
 	margin:0 ;
 	margin-left:15px;
  }
  .cash_Price_box_2 ul{
    margin-top:15px;
  }
  .cash_Price_box_2 ul li p{
  	font-size:12px;
  	color:#808080;
  }
  .card_title{    
  	margin-top: 4px;
    /* vertical-align: middle; */
    margin: 0 auto;
    line-height: 2;
 }

 .emp_box{
 	width:1200px;
 	height:600px;
 	margin-top:60px;
}
 .emp_box_class1{
 	width:77%;
 	height:108px;
 	float:left;
 	
 }
 .cash_cehck_label{
 	width:10px;
 	margin-top:7px;
 }
 .cash_cehck_label2{
 	width:10px;
 	margin-top:7px;
 	background:green;
 }
 .cash_btn{
 	border:none;
 	border:1px red soilid;
 	width:150px;
 	height:40px;
 	background:#ee2e24;
 	color:#fff;
 	border-radius: 3px;
 	cursor:pointer;
 }
 .user_info{
 	border-right:1px #8f8f8f solid;
 	width:230px;
 	height:300px;
 	float:left;
 }
 .user_info p{
 	text-align:left;
 }
 .cash_in_list1{
 	border:none;
 	border-top:1px #ccc solid;
 	border-bottom:1px #ccc solid;
 	width:210px;
 	height:55px;
 	margin : 0 auto;
 }
 .cash_in_list2{
 	border:none;
 	border-bottom:1px #ccc solid;
 	width:210px;
 	height:55px;
 	text-align:center;
 	margin-left:9px;
 }
  .cash_in_list p{
  width:100px;
  margin:0;
  }
 .cash_span_left{
 	float:left;
 	vertical-align:middle;
 	display:table-cell;
 	line-height: 3.3;
 	color:#808080;
 }
 .cash_span_right{
 	float:right;
 	line-height: 3;
 }
 .123{
 	float:right;
 }
 .check_label{
 	text-align:center;
 	width:145px;
 	height:80px;
 	border:1px red solid;
 	float:left;
 	vertical-align:middle;
 }
  .check_label:checked{
 	text-align:center;
 	width:145px;
 	height:80px;
 	border:1px blue solid;
 	float:left;
 	vertical-align:middle;
 }
.cashing_point{
 	width:100px;
 	font-size:18px;
 	font-weight:bold;
 	text-align:right;
 	color:#ee2e24;
 	border:none;
 	outline:none;
 	vertical-align: middle;
 	margin-top: -7px;
 	background: none;
 }
.cashing_point2{
 	width:100px;
 	font-size:18px;
 	font-weight:bold;
 	text-align:right;
 	color:#6c6c6c;
 	border:none;
 	outline:none;
 	vertical-align: middle;
 	margin-top: -7px;
 	background: none;
 }


 .cashing_point_b{
 	font-size:18px; 
 	color:#ee2e24;
 }
 .cashing_point_b2{
 	font-size:18px; 
 	color:#6c6c6c;
 }
  .cashing_point_b2{
 	font-size:18px; 
 	color:#6c6c6c;
 }
 .cash_Price_box_1 button{
 	border:none;
 	width:100%;
 	height:80px;
 	background:none;
 	font-size:18px;
 	outline:none;
 	cursor:pointer;
 	text-align: center;
 }
  .cash_Price_box_1 button:hover{
 	border:none;
 	width:100%;
 	height:80px;
 	background:none;
 	font-size:18px;
 	outline:none;
 	color:#ee2e24;
 	font-weight:bold;
 	text-align: center;
 }
 .cash_title{
 	width:1200px;
 	height:32px;
 	background:#4c4c4c;
 	border-radius: 5px;
 	text-align:left;
 }
 .cash_title span{
 	font-size:12px;
 	vertical-align: middle;
 	line-height: 30px;
 	margin-left:40px;
 }
 .cashing_img{
 	text-align: center;
 	vertical-align: middle;
	margin-top:250px;
	flaot:left;
	margin-top:200px;
 }
 /************************************ cashHistory ************************************/
 .head_emp{
 	width:100%;
 	height:64px;
 	float:left;
 	border-bottom:1px #999 solid;
 }
 .history_tbox{
 	width:100%;
 	height:180px;
 	float:left;
 	text-align: center;
 	vertical-align:middle;
 }
 .history_tbox p{
 	font-size: 48px;
 	font-weight: bold;
 	color:#222;
 	margin:0 auto;
 }
 .history_tbox sapn{
 	font-size: 16px;
	color:#555;
	margin:0 auto;
}
 .title_text_box{
 	width:500px;
 	height:110px;
 	margin:35px auto;
 	display: inline-block;
 }
 .history_point_img{
 	background: url("/buengbueng/img/pament/img_visual_mypoint.jpg") no-repeat top center;
 	height:auto;
 }
 .history_point{
 	width:100%;
 	height:auto;
	float:left;
 	text-align: center;
 	vertical-align:middle;
 }
 .history_point_tbox{
 	width:50%;
 	height:110px;
 	margin:35px auto;
 	display: inline-block;
 	
 }
  .history_point_tbox P{
  	font-size:22px;
  	color:#fff;
  }
 .history_point_tbox span{
 	color:#f8b133;
 	font-weight: bold;
 }
 .history_point_List{
 	height:auto;
	margin:0 auto;
	display:inline-block; 
	margin: 40px auto;
	text-align: left;
 }
 .history_point_List_title{
 	font-weight: 18px;
 	margin:10px auto;
 	font-weight: bold;
 }

 
 