@CHARSET "UTF-8";


.signin--bg--wrap {
width:100vw;
height:100vh;
background-image:url(/css/img/sign-in-bg@2x.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
}

.signin--bg--wrap>.container {
position:relative;
height:100vh;
}

.signin--bg--wrap .signin--wrap {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.signin--form--wrap label {
font-size:16px;
display:block;
margin-bottom:10px;
}

#signinForm #email,#signinForm #password {
width:100%;
height:42px;
border:1px solid #fff;
border-radius:3px;
background:0 0;
font-size:14px;
text-indent:1em;
color:#fff;
opacity:.3;
}

#signinForm #email:valid,#signinForm #password:valid {
opacity:1;
}

#signinForm #email:-webkit-autofill,#signinForm #email:-webkit-autofill:active,#signinForm #email:-webkit-autofill:focus,#signinForm #email:-webkit-autofill:hover,#signinForm #password:-webkit-autofill,#signinForm #password:-webkit-autofill:active,#signinForm #password:-webkit-autofill:focus,#signinForm #password:-webkit-autofill:hover {
-webkit-transition-delay:9999s;
-webkit-transition:color 9999s ease-out,background-color 9999s ease-out;
}

#signinForm .password_label {
margin-top:24px;
}

#signinForm .button[type=submit] {
margin-top:40px;
margin-bottom:24px;
width:100%;
height:58px;
color:#fff;
font-size:20px;
border:none;
border-radius:3px;
background-color:#f73859;
box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
cursor:pointer;
}

.signin--form--wrap .signin--other_form {
text-align:right;
}

.signin--form--wrap .signin--other_form a {
padding-left:5px;
padding-right:5px;
font-size:16px;
}

.signin--form--wrap .signin--other_form .signup {
border-right:1px solid #fff;
}

.signup--bg {
background-image:url(/css/img/signup-bg@2x.png);
background-repeat:no-repeat;
width:100%;
}

.signup--bg__icon {
width:auto;
}

.signup--form--wrap {
background-color:#fff;
box-sizing:border-box;
}

.signup--form--wrap label {
margin-top:20px;
margin-bottom:10px;
display:block;
color:#5c5c5c;
}

.signup--form--wrap label[for=email] {
margin-top:0;
}

.signup--form--wrap input {
border:1px solid #dcdcdc;
border-radius:3px;
text-indent:1em;
font-size:1em;
}

.signup--form #msg_agreement {
display:block;
}

.signup--form--wrap #agreement {
display:inline-block;
margin-right:5px;
margin-bottom:0;
width:14px;
height:14px;
vertical-align:middle;
}

.signup--form--wrap .text_must.password {
float:left;
}

.signup--form--wrap .checkbox_area {
margin-bottom:24px;
}

.signup--form--wrap .checkbox_area label {
display:inline;
}

.signup--form--wrap .highlight {
color:red;
padding-bottom:1px;
border-bottom:1px dotted red;
}

.signup--form--wrap .button[type=submit] {
border-radius:3px;
background-color:#f73859;
box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
color:#fff;
font-size:20px;
border:none;
text-indent:0;
cursor:pointer;
}

.signup--form__haveAccount,.signup--form__haveAccount .signin_link {
font-size:16px;
color:#39495c;
}

.signup--form__haveAccount .signin_link {
margin-left:2px;
font-weight:900;
padding-bottom:1px;
border-bottom:1px solid #39495c;
}