@CHARSET "UTF-8";

/**************************************************************************/
body{
	background: #eeeeee;
	text-align: center;
	margin: 14% auto;
	display: table;
	
}
/*input 노랑색 자동배경 제거*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login_wrap{
	display: table-cell;
	vertical-align:middle;
	
	
}
.login_container{
	
	/*margin: 100px auto 0;*/
	
	margin: auto;
	width:700px;
	height:350px;
	/*border:1px red solid;*/
	background-color: #ffffff;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    box-shadow: rgba(0., 0, 0, 0.1) 0px 10px 30px;
}
.login_inputform_container{
	width:320px;
	height:350px;
	float:left;
	/*border-right:1px blue solid;*/
	text-align: center;
}
.login_inputform{
	width:320px;
	height:220px;
	vertical-align: middle;
	text-align: center;
}
.login_inputform input{
	width:300px;
	height:35px;
	text-indent: 10px;
	border:1px solid #d9d9d9;
	border-radius: 4px;
	outline: none;
}
.login_inputform_submit{
	margin:40px 6px auto;
	border:1px solid #d9d9d9;
	background: none;
}
.login_inputform_input{
	margin:5 auto;
	
}
.login_inputform_submit:hover{
	background: #263238;
	color:#fff;
	cursor: pointer;
	transition: 0.5s;
}
.login_inputform_other{
	font-size: 14px;
	color:#555;
	line-height: 16px;
}
.login_inputform_other a{
	color:#555;
	text-decoration: none;
}
.login_inputform_img{
	text-align: center;
	margin:0 auto;
}
.login_inputform_img img{
	float:left;
	height:350px;
	width:380px;
	/*background-image: url(/buengbueng/img/userInfo/login.jpg);*/
}

