@CHARSET "UTF-8";

body{height:100%;}

.pcRoom{
	float:left;
	width:100%;
	display: inline-block;
	background:#fff;
	line-height: 1;
}

.pcRoom ul{
	margin-left:10px;
	line-height: 1.8;
}
.pcRoom ul li{
	float: left;
    font-size: 14px;
    margin-left: 14px;
    line-height: 2.8;
    list-style: none;
	
}

.pcRoomDiv{
	border:1px #e7ecf1 solid;
	width:100%;
	display:inline-block;
	margin:62px auto; 
	background: #fff; 
	text-align: center;
}

.pcRoomDiv hr{
	margin:0 auto;
	width:98%;
	border-bottom:0.5px #eee solid;
	margin-bottom:20px;
}

#seatDisposeFirstDiv{
	margin:0 auto;
	width:98%;
	display: inline-block;
}

.seatDisposeSecondDiv{
	text-align: left;
	width:10%;
	height:120px;
	border-bottom:1px solid black;
	border-right:1px solid black;
	padding-top:0.5%;
	background-color:#666;
	color:white;
	float:left;
	cursor: pointer;
}

.seatDisposeSecondDiv2{
	text-align: left;
	width:10%;
	height:120px;
	border-bottom:1px solid black;
	border-right:1px solid black;
	padding-top:0.5%;
	background-color:red;
	color:white;
	float:left;
	cursor: pointer;
}

.center{
	text-align: center;
}

.pcInfoDefault{
	width: 100%;
	display: inline-block;
	text-align: center;
}

.pcRoomInfo{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 3%;
}

.seatState{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 3%;
}

.pcInfo{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 3%;
}

/*-- 탭 메뉴 --*/
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: inline-block;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:auto;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;
}
.tab_content {
    padding: 5px;
    font-size: 12px;
    text-align: right;
    display: inline-block;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none
}
;
 #container {
    width: 100%;
    margin: 0 auto;
}