
/* GRID */


.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float: right;
    margin-right: 20px;
    margin-top: 10px;
	
}

.col:first-of-type {
  margin-left: 0;
}


/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */
@media screen and (min-width:1200px){
	.row{display:none;}
	.three{display:none;}
}
.@media screen and (min-width:1200px){
	.util_menu{display:none;}
}
.row .three{
  height:30px;
  width:30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ecf0f1;
  text-align: center;
  float:right;
  margin-right:33px;
  margin-top:10px;

}

.hamburger .line{
  width: 28px;
  height: 5px;
  margin-bottom:6px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
