html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,big,cite,code,em,img,small,strike,strong,sub,sup,dl,dt,dd,ol,ul,li, fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
*{margin:0;padding:0;list-style:none;text-decoration:none;font-family:'Ubuntu', nanumsquare, 'Open Sans', Sans-serif}

h1, h2, h3, h4, h5, h6, p, a, a:visited {
    color: #5c5c5c;

html{overflow-y:scroll;overflow-x:scroll}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.clearfix::after,
.row::after {
    display: block;
    clear: both;
    content: '';
}
.row {
    margin-bottom: 30px; 
}

 .footer_wrap{
    position:relative;
    z-index:1;
    background: #282b39;
} 