#alert{
    border: none;
    color: red;
    width: 50%;
    background-color: transparent;
}

.pop{
	float:right;
	border:none;
	outline: none;
	color: white;
	background-color: gray;
	width: 50px;
	height: 50px;
}
